@model Pharma.Models.Seller

@{
    ViewBag.Title = "Seller Login";
}

<h2>Seller Login</h2>

@using (Html.BeginForm("SellerLogin", "Seller", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBox("username", null, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.Password("password", null, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
}
